# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Virtual Environment
venv/
ENV/
env/
env.bak/
.venv/

# VSCode settings
.vscode/
.history/

# YOLOv5 files (if generated)
yolov5/
yolov5/runs/
yolov5/weights/
yolov5/*.pt
yolov5s.pt

# IDE and Editor files
*.idea/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Downloaded files
# *.txt
*.pdf

# Environment Variables
.env

# Byte-compiled files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
MANIFEST

# Database files
*.sqlite3

# Coverage reports
htmlcov/
*.cover
*.coverage
.coverage*

# Pytest cache
.cache
